{% extends "root.twig" %}

{% block page_title "Latest Albums" %}

{% block page_content %}
	{{ parent() }}

	<table class="table table-striped">
		<thead>
			<th scope="col">Id</th>
			<th scope="col">Name</th>
			<th scope="col">Artist</th>
			<th scope="col">&nbsp;</th>
		</thead>
		<tbody>
			{% for album in albums %}
				<tr>
					<th scope="row">{{ album.id }}</th>
					<td>{{ album.title }}</td>
					<td>{{ album.artist_name }}</td>
					<td>
						<a href="/Album/show/{{ album.id }}" class="btn btn-sm btn-outline-success">View Details</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="2" class="text-secondary">No album found :(</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
