<tr class="align-middle">
	<td><img src="{{ album.cover_url}}" height="50"/></td>
	<th scope="row">{{ album.id }}</th>
	<td>{{ album.title }}</td>
	<td>{{ album.artist_name }}</td>
	<td>
		{% for platform in album.platforms %}
			<img src="/img/platforms/{{ platform }}-64px.png" width="24">
		{% else %}
			&nsbp;
		{% endfor %}
	</td>
	<td>
		<a href="/Album/show/{{ album.id }}" class="btn btn-sm btn-outline-success">View Details</a>
		<a href="{{ frontend_base_url }}/albums/{{ album.slug }}/" class="btn btn-sm btn-outline-primary">View on Front-end</a>
	</td>
</tr>
