{% extends 'root.twig' %}

{% block page_title %}
	Album Details
	{% if is_new %}
		<span class="text-warning">(Preview)</span>
	{% endif %}
{% endblock %}

{% block page_content %}
	{{ parent() }}

	<div class="row">
		<div class="col-2" class="border-success">
			<div class="row mb-3">
				<img src="{{ album_details.cover_url }}" style="width: 100%"/>
			</div>
			<div class="row mb-3">
				{% if album_details.slug is defined %}
					<div class="col-auto">
						<form action="/FeaturedAlbums/feature/{{ album_details.id }}" method="post">
							<button class="btn btn-success">Feature</button>
						</form>
					</div>
				{% endif %}
				{% if album_details.slug is not defined or album_details.new_data %}
					<div class="col-auto">
						<form action="{{ album_details.new_data ? '/Album/commit/%d'|format(album_details.id) : '/Album/commit' }}" method="post">
							<button class="btn btn-warning">Commit</button>
						</form>
					</div>
				{% endif %}
			</div>
		</div>

		<div class="col-10">
			<h2>{{ album_details.title }}</h2>
			<h3 class="text-secondary">{{ album_details.artists|join(', ') }}</h3>
			<hr/>
			{% for platform, platform_name in platforms %}
				<div class="row mb-3">
					<div class="col-1 text-end">
						{{ platform_name }}
					</div>

					<div class="col-6 text-secondary">
						{% if album_details.instances[platform] is defined and album_details.instances[platform] is not null %}
							{% with { platform_details: album_details.instances[platform] } %}
							{% if (is_new == false) and (platform_details.saved_data == false) %}
								<span class="text-warning">(Preview)</span><br/>
							{% endif %}
							{{ platform_details.platform_id }}
							{% if platform_details.title is defined %}
								<div class="row">
									<div class="col-2">
										<img src="{{ platform_details.cover_url }}" style="width: 100%"/>
									</div>
									<div class="col-10">
										{{ platform_details.title }}
										<br/>{{ platform_details.artists|join(', ') }}
									</div>
								</div>
							{% endif %}
							{% endwith %}
						{% else %}
							-
						{% endif %}
					</div>

					<div class="col-auto">
						<div class="row">
							{% if album_details.instances[platform] is defined and album_details.instances[platform] is not null %}
								<div class="col-auto">
									<a href="{{ album_details.instances[platform].url }}" class="btn btn-sm btn-outline-success" target="_blank">Look Up</a>
								</div>
							{% endif %}
							<div class="col-auto">
								<form method="get" action="/Album/searchPlatform">
									<input type="hidden" name="platform" value="{{ platform }}"/>
									{% set search_album_title = platform starts with 'steam' ? sanitized_title : album_details.title %}
									<input type="hidden" name="q" value="{{ search_album_title }}"/>
									{% for name, value in search_query_params %}
										<input type="hidden" name="{{ name }}" value="{{ value }}"/>
									{% endfor %}
									<button class="btn btn-sm btn-outline-primary">Search</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
			{% if is_new == false %}
				<hr/>
				<div class="row mb-3">
					<div class="col-1 text-end">Slug</div>
					<div class="col-2 text-secondary">{{ album_details.slug }}</div>
				</div>
				<div class="row mb-3">
					<div class="col-1 text-end">Last Featured</div>
					<div class="col-2 text-secondary">
						{% if album_details.last_featured is null %}-
						{% else %}
							{{ album_details.last_featured|date('m/d/Y H:i:s') }}
						{% endif %}
					</div>
				</div>
			{% endif %}
			{% if analytics is defined %}
				<hr/>
				<div class="row">
					<div class="col-1 text-end">Analytics</div>
					<div class="col-11">
						{{ include('timeFrameSelector.twig', { action: '/Album/show/%d'|format(album_details.id), 'validator': analytics.validator }, with_context = false )}}

						<div class="spinner-border mt-3" role="status" id="graph-spinner">
							<span class="visually-hidden">Loading...</span>
						</div>

						<div class="mt-3" id="graph" style="height: 400px"></div>

						<script type="text/javascript">{{ include('graph.js', { graph_element_id: 'graph' }) }}</script>
					</div>
				</div>
			{% endif %}
		</div>
	</div>
{% endblock %}
